<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Content for the Add_Edit page -->
<main class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="pagetitle"><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= contact._id %>"
                    >
                    <label for="contactNameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                        id="contactNameTextField"
                        placeholder="Contact Name"
                        name="contactName" 
                        value="<%= contact.contactName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="contactNumberTextField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="contactNumberTextField"
                    placeholder="Phone number XXXXXXXXXX"
                    name="contactNumber" 
                    value="<%= contact.contactNumber %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Email address"
                    name="email" 
                    value="<%= contact.email %>"
                    >
                </div>
                <br/>
                <!-- For Add a new contact page -->
                <% if (title == "Add a new contact") { %>
                    <div class="btns">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-edit"></i> 
                            Add
                        </button>
                        <a href="/business/list" class="btn btn-warning">
                            <i class="fas fa-undo"></i> 
                            Cancel
                        </a>
                    </div>
                <!-- For Edit contact page -->
                <% } else { %>
                    <div class="btns">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-edit"></i> 
                            Update
                        </button>
                        <a href="/business/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> 
                            Cancel
                        </a>                   
                        <a href="/business/delete/<%=contact._id %>" class="btn btn-danger" type="submit" >
                        <i class="fas fa-trash"></i>
                            Delete
                        </a>
                    </div>                                      
                <% } %>
                
            </form>
        </div>

    </div>
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>