<<<<<<< HEAD
<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Business Contacts List Main Content -->

<main class="container" id="">
    <div class="row">
        <div class="table-responsive">
            <h1 class="pagetitle"><%= title %></h1>
            <br>
            <div>
                <a href="/business/add" id="addbtn" class="btn btn-outline-success align-self-end" role="button">
                    <i class="fas fa-plus-circle"></i> 
                    Add a new contact
                </a>                
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= BusinessList[count].contactName %></td>
                        <td class="text-center"><%= BusinessList[count].contactNumber %></td>
                        <td class="text-center"><%= BusinessList[count].email %></td>
                        <td class="text-center">
                            <a href="/business/edit/<%= BusinessList[count]._id %>" class="btn btn-success btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/business/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>                        
                    </tr>   
                <% } %>
            </table>
        </div>
    </div>
  </main>
<% include ../partials/bottom_nav.ejs %>
=======
<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Business Contacts List Main Content -->

<main class="container" id="">
    <div class="row">
        <div class="table-responsive">
            <h1 class="pagetitle"><%= title %></h1>
            <br>
            <div>
                <a href="/business/add" id="addbtn" class="btn btn-outline-success align-self-end" role="button">
                    <i class="fas fa-plus-circle"></i> 
                    Add a new contact
                </a>                
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= BusinessList[count].contactName %></td>
                        <td class="text-center"><%= BusinessList[count].contactNumber %></td>
                        <td class="text-center"><%= BusinessList[count].email %></td>
                        <td class="text-center">
                            <a href="/business/edit/<%= BusinessList[count]._id %>" class="btn btn-success btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/business/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>                        
                    </tr>   
                <% } %>
            </table>
        </div>
    </div>
  </main>
<% include ../partials/bottom_nav.ejs %>
>>>>>>> dd6c681507599ea9f1f2adcfbe9aa99cf1ee1b37
<% include ../partials/footer.ejs %>